PORT=5643
DB_URI=mongodb+srv://username:password@cluster.mongodb.net/hypermart
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
AccessTokenSecret=your_access_token_secret
AccessTokenExpiry=1d
RefreshTokenSecret=your_refresh_token_secret
RefreshTokenExpiry=10d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_API_KEY=your_cloudinary_api_key
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=your_email_password
EMAIL_FROM=your_email@example.com
FRONTEND_URL=http://localhost:5174
EMAIL_VERIFICATION_ENABLED=false
